.main-form {
    margin-left: 10px;
    min-width: 150px;
    
    width: 80%;
}

.input-control {
    width: 100%;
}

.block-file-info {
    display: flex;
    justify-content: space-between;
}

.button-more {
    margin-left: 10px;
    align-self: center;
}